@import "tailwindcss";

@font-face {
  font-family: 'Impact';
  src: url('/fonts/IMPACT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}   

.impact {
  font-family: 'Impact', sans-serif;
}

@font-face {
  font-family: 'Americain';
  src: url('/fonts/AMERICANCAPTAIN-MDEY.OTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}   

.americain {
  font-family: 'American', sans-serif;
}

@font-face {
  font-family: 'wildWorld';
  src: url('/fonts/WILDWORLD FONT.OTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}   

.wildWorld {
  font-family: 'wildWorld', sans-serif;
}

@font-face {
  font-family: 'agency';
  src: url('/fonts/AGENCYB.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}   

.agency {
  font-family: 'agency', sans-serif;
}

@font-face {
  font-family: 'orpheus';
  src: url('/fonts/Orpheus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}   

.orpheus {
  font-family: 'orpheus', sans-serif;
}